<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="row">
          <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                      <div class="ibox-content p-md">
                          <h1><span class="text-navy"><strong>Nueva Receta</strong></span></h1>
                      </div>
                  </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="ibox float-e-margins">
                  <div class="ibox-content p-md">
                      <h3 class="m-b-xxs"><strong>Datos Personales</strong></h3>
                      <br>
                      <div class="row">
                          <div class="ibox float-e-margins">
                              <div class="ibox-content">
                                  <div class="col-sm-8">
                                      <label class="col-sm-2 control-label" style="margin-top: 10px">Paciente:</label>
                                      <div class="col-sm-10"><input type="text" class="form-control" disabled="" value="Alberto Gian Pierre Chang Lopez"></div>
                                  </div>
                                  <div class="col-sm-4">
                                      <label class="col-sm-4 control-label" style="margin-top: 10px">Edad:</label>
                                      <div class="col-sm-8"><input type="text" class="form-control" disabled="" value="89 años"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="row" >
          <div class="col-lg-12">
              <div class="ibox float-e-margins">
                  <div class="ibox-content">
                      <h3 class="m-b-xxs"><strong>Recomendacion de medicamentos</strong></h3>
                      <div class="ibox-content">
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="panel panel-primary">
                                      <div class="panel-heading">
                                          Primera Recomendacion
                                      </div>
                                      <div class="panel-body" style="height:300px">
                                          <div class="form-horizontal">
                                              <div class="form-group">
                                                  <label class="col-sm-3 control-label"> Medicamentos</label>
                                                  <div class="col-sm-9 "><input type="text" class="form-control" value="Bisoprolol, Amlodipino"></div>
                                              </div>
                                              <table class="footable table table-stripped">
                                                  <thead>
                                                      <tr>
                                                          <th>Sintoma</th>
                                                          <th>Porcentaje de Ausencia</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>Angina de Pecho</td>
                                                          <td>85%</td>
                                                      </tr>
                                                      <tr>
                                                          <td>Hipertension Arterial</td>
                                                          <td>90%</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <button class="btn btn-primary pull-right" type="submit"><strong>Seleccionar</strong></button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-4">
                                  <div class="panel panel-info">
                                      <div class="panel-heading">
                                          Segunda Recomendacion
                                      </div>
                                      <div class="panel-body" style="height:300px">
                                          <div class="form-horizontal">
                                              <div class="form-group">
                                                  <label class="col-sm-3 control-label"> Medicamentos</label>
                                                  <div class="col-sm-9 "><input type="text" class="form-control" value="Enalapril, Amlodipino"></div>
                                              </div>
                                              <table class="footable table table-stripped">
                                                  <thead>
                                                      <tr>
                                                          <th>Sintoma</th>
                                                          <th>Porcentaje de Ausencia</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>Angina de Pecho</td>
                                                          <td>70%</td>
                                                      </tr>
                                                      <tr>
                                                          <td>Hipertension Arterial</td>
                                                          <td>90%</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <button class="btn btn-info pull-right" type="submit"><strong>Seleccionar</strong></button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-4">
                                  <div class="panel panel-warning">
                                      <div class="panel-heading">
                                          Tercera Recomendacion
                                      </div>
                                      <div class="panel-body" style="height:300px">
                                          <div class="form-horizontal">
                                              <div class="form-group">
                                                  <label class="col-sm-3 control-label"> Medicamentos</label>
                                                  <div class="col-sm-9 "><input type="text" class="form-control" value="Losartan, Amlodipino"></div>
                                              </div>
                                              <table class="footable table table-stripped">
                                                  <thead>
                                                      <tr>
                                                          <th>Sintoma</th>
                                                          <th>Porcentaje de Ausencia</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>Angina de Pecho</td>
                                                          <td>68%</td>
                                                      </tr>
                                                      <tr>
                                                          <td>Hipertension Arterial</td>
                                                          <td>85%</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <button class="btn btn-warning pull-right" type="submit"><strong>Seleccionar</strong></button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="ibox-content">
                          <div class="pull-right">
                              <button class="btn btn-white" type="submit">Regresar</button>
                              <button class="btn btn-primary" type="submit">Continuar sin Recomendacion</button>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>