<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <%= render 'form', registroconsultum: @registroconsultum, method: :put, path: edit_registro_consultum_path %>
</div>
