<%= form_for @recetum do |f| %>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content p-md">
                            <h1><span class="text-navy"><strong>Nueva Receta</strong></span></h1>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-md">
                        <h3 class="m-b-xxs"><strong>Datos Personales</strong></h3>
                        <br>
                        <div class="row">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="col-sm-8">
                                        <label class="col-sm-2 control-label" style="margin-top: 10px">Paciente:</label>
                                      <div class="col-sm-10"><input type="text" class="form-control" disabled="" value=" <%= @recetum.citum.usuario.apellidos %>, <%= @recetum.citum.usuario.nombres %>"> </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="col-sm-4 control-label" style="margin-top: 10px">Edad:</label>
                                        <div class="col-sm-8"><input type="text" class="form-control" disabled="" value=" <%= @recetum.citum.usuario.get_edad(@recetum.citum.usuario.fecha_nacimiento) %> años"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" >
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-md">
                        <h3 class="m-b-xxs"><strong>Listado de medicamentos</strong></h3>
                        <br>
                        <div class="ibox-content">
                            <div class="row">
                                <h3>Eliga un medicamento</h3>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label class="col-sm-3 control-label" style="margin-top: 10px">Medicamento:</label>
                                            <div class="col-sm-9">
                                                <select class="form-control m-b">
                                                    <option>Bisoprolol - 5mg</option>
                                                    <option>Bisoprolol - 10mg</option>
                                                    <option>Amlodipino - 10mg</option>
                                                    <option>Amlodipino - 20mg</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="col-sm-5 control-label" style="margin-top: 10px">Cantidad:</label>
                                            <div class="col-sm-7"><input type="text" class="form-control" value="4"></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="col-sm-5 control-label" style="margin-top: 10px">Frecuencia de toma:</label>
                                            <div class="col-sm-7">
                                                <select class="form-control m-b">
                                                    <option>Cada 4hrs</option>
                                                    <option>Cada 6 hrs</option>
                                                    <option>Cada 8 hrs</option>
                                                    <option>Cada 12 hrs</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="col-sm-12 text-center">
                                                <button class="btn btn-primary " type="submit"><strong>Agregar</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h3>Medicamentos elegidos</h3>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <table class="footable table table-stripped">
                                            <thead>
                                                <tr>
                                                    <th>Medicamento</th>
                                                    <th>Concentracion</th>
                                                    <th>Forma Farmaceutica</th>
                                                    <th>Via</th>
                                                    <th>Cantidad</th>
                                                    <th>Frecuencia</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Bisoprolol</td>
                                                    <td>5mg</td>
                                                    <td>Tableta</td>
                                                    <td>Oral</td>
                                                    <td>6</td>
                                                    <td>Cada 8 horas</td>
                                                </tr>
                                                <tr>
                                                    <td>Amlodipino</td>
                                                    <td>10mg</td>
                                                    <td>Tableta</td>
                                                    <td>Oral</td>
                                                    <td>6</td>
                                                    <td>Cada 12 horas</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="pull-right">
                                <button class="btn btn-white" type="submit">Regresar</button>
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% end %>