
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> 
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> 
                            <span class="block m-t-xs" style="font-size: 18px"> 
                                <strong class="font-bold">
                                    <%=current_usuario.nombres%> <%=current_usuario.apellidos%>
                                </strong>
                            </span> 
                            <span class="text-muted text-xs block" style="font-size: 15px"><%=current_usuario.categoria%></span> 
                        </span> 
                    </a>
                </div>
            </li>
            
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Mis Pacientes</span></a>
            </li>
            <li class="active">
                <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Mis Citas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="graph_flot.html">Citas Pendientes</a></li>
                    <li><a href="graph_morris.html">Citas Realizadas</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Mi Disponibilidad</span></a>
            </li>
        </ul>

    </div>
</nav>
<!--Aca se tiene que aplicar el back, pero primero debo terminar el login-->