<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pacientes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/pages/dashboard">Home</a>
            </li>
            <li class="active">
                Pacientes - <strong>Index</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<!--Aca se tiene que agrupar segun los menus que tengan los usuarios....Lo que actualmente dice Index va a ser variable-->